<div id="modal-form" class="modal modal-form modal--theme-secondary" data-modal="form">
  <div class="modal__wrapper">
    <div class="modal__container">
      <div class="modal__bg-close" data-modal-close=""></div>
      <div class="modal-form__box">
        <button class="modal-form__close" data-modal-close=""></button>
        <div class="modal-form__content" >
          <form action="#">
            <h5>Получите консультацию</h5>
            <p>Запланируйте встречу в одном из офисов или в онлайне. Эксперт проанализирует ситуацию, сделает
              расчет стоимости и поможет найти решение исходя из ваших целей.</p>
            <div class="popup__form-inputs">
              <input class="form__input form__input--popup" type="text" placeholder="Ваше имя" name="name">
              <input class="form__input form__input--popup" type="text" placeholder="Телефон или почта" name="phone">
              <p>Я даю согласие на обработку персональных данных и соглашаюсь с <a href="#" target="_blank">правилами
                  обработки персональных данных</a>.</p>
            </div>
            <button class="popup__form-btn btn" type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
