<nav class="nav ">
  <div class="nav__inner">

    <div class="nav__top">
      <button class="nav__close burger burger--close" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="/" class="logo">
        <img src="img/global/logo.svg" alt="logo">
      </a>
    </div>

    <ul class="nav__menu">
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#home"></use>
          </svg>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#glyph"></use>
          </svg>
          <span>Transactions</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#user"></use>
          </svg>
          <span>Accounts</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#invest"></use>
          </svg>
          <span>Investments</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#credit"></use>
          </svg>
          <span>Credit Cards</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#loan"></use>
          </svg>
          <span>Loans</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#service"></use>
          </svg>
          <span>Services</span>
        </a>
      </li>
      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#econometrics"></use>
          </svg>
          <span>My Privileges</span>
        </a>
      </li>
      <li class="nav__menu-item active">
        <a href="#" class="nav__menu-link">
          <svg class="nav__menu-icon">
            <use xlink:href="svg-sprite/sprite.svg#settings"></use>
          </svg>
          <span>Setting</span>
        </a>
      </li>
    </ul>

  </div>
</nav>
