.search {
  display: flex;

  &__input-wpapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 19px;

    @include media(md) {
      padding: 16px 25px;
      gap: 15px;
    }
  }

  &__submit {
    padding: 0;
    flex-shrink: 0;
    line-height: 0;
  }

  &__icon {
    width: 16px;
    height: 16px;

    @include media(md) {
      width: 20px;
      height: 20px;
    }
  }

  &__input {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border: 0;
    color: inherit;
    width: 100%;
    padding: 0;

    @include media(md) {
      font-size: 15px;
      line-height: 18px;
    }

  }
}

.search__input::placeholder {
  color: #8ba3cb;
}
