<header class="header">
  <div class="header__inner">
    <button class="header__toggle burger" type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <h2 class="title title--size-md">Setting</h2>
    <a href="#" class="header__user-profile">
      <img src="img/global/profile.png" alt="profile">
    </a>
    <div class="header__items">
      <form class="header__search search" action="#">
        <div class="search__input-wpapper">
          <button type="submit" class="btn search__submit">
            <svg class="search__icon">
              <use xlink:href="svg-sprite/sprite.svg#search"></use>
            </svg>
          </button>
          <input type="text" placeholder="Search for something" class="search__input">
        </div>
      </form>
      <a href="#" class="header__btn header__btn-settings">
        <svg class="header__btn-icon">
          <use xlink:href="svg-sprite/sprite.svg#settings-stroke"></use>
        </svg>
      </a>
      <a href="#" class="header__btn header__btn-notice">
        <svg class="header__btn-icon">
          <use xlink:href="svg-sprite/sprite.svg#notice"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
