.burger {
  --dp-flex: flex;
  display: var(--dp-flex);
  flex-direction: column;
  align-items: center;
  width: 18px;
  height: 14px;
  cursor: pointer;
  position: relative;
  //z-index: 900;
  //color: currentColor;
  color: inherit;
  padding: 0;
  border: 0;

  span {
    display: block;
    transition: all 0.2s ease 0s;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: #343c6a;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(3) {
      top: auto;
      bottom: 0%;
    }
  }

  &.burger--close span {
    transform: scale(0);
    //background: #323232;

    &:nth-child(1) {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }

    &:nth-child(3) {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}


